# 3.1 Expressions And Units For Analyzing Wastewater Flows #
Programming languages are much simpler than human languages. Nonetheless, there are some rules of grammar to learn in any language, and that is where we will begin. In this text, we will use the [Python](https://www.python.org/) programming language. Learning the grammar rules is essential, and the same rules used in the most basic programs are also central to more sophisticated programs.

Programs are made up of *expressions*, which describe to the computer how to combine pieces of data. For example, a multiplication expression consists of a `*` symbol between two numerical expressions. Expressions, such as `3 * 5`, are *evaluated* by the computer. The value (the result of *evaluation*) of the last expression in each cell, `15` in this case, is displayed below the cell.

In [4]:
3 * 5

15

Here, we will compute the number of seconds in an hour, and a day, and place the results in variables named, "secondsperhour" and "secondsperday"

In [6]:
secondsperhour=60*60
print("The number of seconds in an hour is: ", secondsperhour)
secondsperday =secondsperhour*24
print("The number of seconds in a day is: ", secondsperday)

The number of seconds in an hour is:  3600
The number of seconds in a day is:  86400

Engineering relies upon a sequence of multiplications of ratios, called "Dimensional Analysis", to convert quantities from one unit of measurement to another. As an example, convert miles per hour to feet per second.

Visually,  $${ feet \over second} = { miles \over hour} * { 1 hour \over 3,600 seconds} * {5,280 feet \over 1 mile}$$

Note that $${hour \over seconds} = {1 \over secondsperhour}$$

So,  60 miles/hour * hour/second * feet/mile = feet/second, calculated by:

In [8]:
feetpersecond = 60 * (1/secondsperhour) * 5280
print(feetpersecond)

88.0

For our calculation of how much organic material is removed from the influent by our system, we need to know what mass of organic material is moving through the system in an hour, or a day.

Measuring the influent load of digestible material in milligrams per Liter, or mg/L, the 350.1 standard gives a possible influent value as 300 mg/L of TSS.

Given a flow rate in gallon per hour = gph,

Convert gallons per hour to milligrams of material conveyed each hour using the Total Suspended Solids influent level, (or, alternatively, the BOD5 number) in mg/L.  Using 300 mg/L,

 milligrams / hour = gallons/hour  *  3.7854 L /gallon *  300mg / L 

 $${ mg \over hour} = { gallons \over hour} * {3.784  Liters \over  1 gallons} * {300 mg \over Liter}$$

    - Conversion of gallons to liters: 3.7854 L in a gallon;

In [9]:
gallonperhour = 100
mgperhour = gallonperhour * 3.7854 * 300
print("Milligrams per hour",mgperhour)
gramperhour=mgperhour/1000
print("Grams per hour",gramperhour )

Milligrams per hour 113562.0
Grams per hour 113.562

The 350.1 standard requires reducing TSS from 300 mg/L to 10 mg/L, or by a factor of 30.

In [13]:
finalTSS = gramperhour/30
print("Final TSS we must demonstrate: ",finalTSS, "grams per hour of TSS in effluent, or 10 mg/L in a grab test")

Final TSS we must demonstrate:  3.7854 grams per hour of TSS in effluent, or 10 mg/L in a grab test

**Common Operators.** Data science often involves combining numerical values, and the set of operators in a programming language are designed to so that expressions can be used to express any sort of arithmetic. In Python, the following operators are essential.

| Expression Type | Operator | Example    | Value     |
|-----------------|----------|------------|-----------|
| Addition        | `+`      | `2 + 3`    | `5`       |
| Subtraction     | `-`      | `2 - 3`    | `-1`      |
| Multiplication  | `*`      | `2 * 3`    | `6`       |
| Division        | `/`      | `7 / 3`    | `2.66667` |
| Remainder       | `%`      | `7 % 3`    | `1`       |
| Exponentiation  | `**`     | `2 ** 0.5` | `1.41421` |

Python expressions obey the same familiar rules of *precedence* as in algebra: multiplication and division occur before addition and subtraction. Parentheses can be used to group together smaller expressions within a larger expression.

In [2]:
import pandas as pd
import numpy as np
#import datascience as ds
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.max_rows = 7
pd.options.display.max_columns = 8
pd.set_option('precision', 2)
# This option stops scientific notation for pandas
# pd.set_option('display.float_format', '{:.2f}'.format)

Energy calculation: UCB; 471,282 MWh/year = 1300 MWh/day or 54 MWh/hour

In [4]:
mwhy=471282
mwhmo = mwhy/12
mwhwk = mwhy /52
mwhday = mwhy / 365.2422
mwhhour = mwhday / 24
berkeleypower = [mwhy,mwhmo,mwhwk,mwhday, mwhhour]
print(berkeleypower)
df =pd.DataFrame(berkeleypower
                )

[471282, 39273.5, 9063.115384615385, 1290.3273499064455, 53.76363957943523]

This chapter introduces many types of expressions. Learning to program involves trying out everything you learn in combination, investigating the behavior of the computer. What happens if you divide by zero? What happens if you divide twice in a row? You don't always need to ask an expert (or the Internet); many of these details can be discovered by trying them out yourself.

In [48]:
#df1.applymap(lambda x: str(int(x)) if abs(x - int(x)) < 1e-6 else str(round(x,2)))

In [42]:
export_csv = df.to_csv (r'/tmp/energy.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path

In [57]:
df1 = pd.read_csv (r'/tmp/energy.csv')
df1

,Entity Name,Year,Month,Week,Day,Hour,Data Year
0,UCBerkeley,471282.0,39273.5,9063.115385,1290.32735,53.76364,2018.0
1,LBNL Base,NaN,NaN,NaN,NaN,NaN,NaN
2,LBNL HEMSF,NaN,NaN,NaN,NaN,NaN,NaN
3,LBNL Other,NaN,NaN,NaN,NaN,NaN,NaN
4,City of Berkeley,NaN,NaN,NaN,NaN,NaN,NaN
5,COB Buildings,NaN,NaN,NaN,NaN,NaN,NaN
6,COB Street Lights,NaN,NaN,NaN,NaN,NaN,NaN
7,COB Public Works,NaN,NaN,NaN,NaN,NaN,NaN
8,COB Parks,NaN,NaN,NaN,NaN,NaN,NaN
9,COB Buildings,NaN,NaN,NaN,NaN,NaN,NaN
10,COB Vehicles,NaN,NaN,NaN,NaN,NaN,NaN
11,COB Street Paving,NaN,NaN,NaN,NaN,NaN,NaN
12,COB Contractor Sewage,NaN,NaN,NaN,NaN,NaN,NaN
13,EBMUD Pumping,NaN,NaN,NaN,NaN,NaN,NaN
14,PG&E Trans-Distrib Loss,NaN,NaN,NaN,NaN,NaN,NaN
15,PG&E SmartMeter,NaN,NaN,NaN,NaN,NaN,NaN
16,ATT Transformer,NaN,NaN,NaN,NaN,NaN,NaN
17,Comcast Transformer,NaN,NaN,NaN,NaN,NaN,NaN
18,Residential,NaN,NaN,NaN,NaN,NaN,NaN
19,Commercial,NaN,NaN,NaN,NaN,NaN,NaN
20,Industrial,NaN,NaN,NaN,NaN,NaN,NaN
21,Berkeley School District,NaN,NaN,NaN,NaN,NaN,NaN
22,USG,NaN,NaN,NaN,NaN,NaN,NaN
23,State of CA,NaN,NaN,NaN,NaN,NaN,NaN
24,CalTrans,NaN,NaN,NaN,NaN,NaN,NaN
25,Alameda County,NaN,NaN,NaN,NaN,NaN,NaN
26,BART stations,NaN,NaN,NaN,NaN,NaN,NaN
27,BART stations,NaN,NaN,NaN,NaN,NaN,NaN
28,BART trains,NaN,NaN,NaN,NaN,NaN,NaN
29,BART parking lots,NaN,NaN,NaN,NaN,NaN,NaN
30,ACTransit,NaN,NaN,NaN,NaN,NaN,NaN
31,COB Public Works,NaN,NaN,NaN,NaN,NaN,NaN
32,COB Sewage Pumping,NaN,NaN,NaN,NaN,NaN,NaN
33,Resident Transport,NaN,NaN,NaN,NaN,NaN,NaN
34,Resident Work Transport,NaN,NaN,NaN,NaN,NaN,NaN
35,Truck,NaN,NaN,NaN,NaN,NaN,NaN
36,Car,NaN,NaN,NaN,NaN,NaN,NaN
37,Church,NaN,NaN,NaN,NaN,NaN,NaN
38,Scnool,NaN,NaN,NaN,NaN,NaN,NaN
39,Food,NaN,NaN,NaN,NaN,NaN,NaN
40,Ag,NaN,NaN,NaN,NaN,NaN,NaN
41,Retail,NaN,NaN,NaN,NaN,NaN,NaN
42,Water Heater,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df1["Entity Name"].head(20)

0                   UCBerkeley
1                          LBL
2             City of Berkeley
3                COB Buildings
4            COB Street Lights
5             COB Public Works
6                    COB Parks
7                COB Buildings
8                 COB Vehicles
9            COB Street Paving
10       COB Contractor Sewage
11              EBMUD Pumping
12     PG&E Trans-Distrib Loss
13             PG&E SmartMeter
14             ATT Transformer
15         Comcast Transformer
16                 Residential
17                  Commercial
18                  Industrial
19    Berkeley School District
Name: Entity Name, dtype: object

In [58]:
df1.rename(columns={'Year':'MMBTUYear',
                          'Data Year':'Year',}, 
                 inplace=True)

In [62]:
export_csv = df2.to_csv (r'/tmp/engwat.csv', index = None, header=True)

In [61]:
df2.head(10)

         Entity Name  MMBTUYear    Year
0         UCBerkeley   471282.0  2018.0
1          LBNL Base        NaN     NaN
2         LBNL HEMSF        NaN     NaN
3         LBNL Other        NaN     NaN
4   City of Berkeley        NaN     NaN
5      COB Buildings        NaN     NaN
6  COB Street Lights        NaN     NaN
7   COB Public Works        NaN     NaN
8          COB Parks        NaN     NaN
9      COB Buildings        NaN     NaN

In [75]:
engwater = pd.read_csv (r'/tmp/engwat.csv')
engwater

,Entity Name,MMBTUYear,KWh,Gas,Total WaterMG,WW,WaterCool,Year
0,UCBerkeley,471282.0,NaN,NaN,NaN,NaN,NaN,2018.0
1,LBNL Base,NaN,NaN,NaN,40.0,NaN,NaN,2018.0
2,LBNL Base,NaN,NaN,NaN,40.0,NaN,NaN,2019.0
3,LBNL Base,NaN,NaN,NaN,40.0,NaN,NaN,2020.0
4,LBNL Base,NaN,NaN,NaN,40.0,NaN,NaN,2021.0
5,LBNL Base Electric MMBTU,NaN,73324.3,NaN,NaN,NaN,NaN,2018.0
6,LBNL Base Electric MMBTU,NaN,73324.3,NaN,NaN,NaN,NaN,2019.0
7,LBNL Base Electric MMBTU,NaN,73324.3,NaN,NaN,NaN,NaN,2020.0
8,LBNL Base Electric MMBTU,NaN,73324.3,NaN,NaN,NaN,NaN,2021.0
9,LBNL HEMSF,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,LBNL Total,730000.0,NaN,NaN,64.7,NaN,NaN,2018.0
11,LBNL Total,740000.0,NaN,NaN,67.0,NaN,NaN,2019.0
12,LBNL Total,650000.0,NaN,NaN,62.0,NaN,NaN,2020.0
13,LBNL Total,770000.0,NaN,NaN,78.0,NaN,NaN,2021.0
14,LBNL Electric,NaN,154000.0,NaN,NaN,NaN,NaN,2018.0
15,LBNL Electric,NaN,156000.0,NaN,NaN,NaN,NaN,2019.0
16,LBNL Electric,NaN,140000.0,NaN,NaN,NaN,NaN,2020.0
17,LBNL Electric,NaN,180000.0,NaN,NaN,NaN,NaN,2020.0
18,City of Berkeley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,COB Buildings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,COB Street Lights,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,COB Public Works,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,COB Parks,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,COB Buildings,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,COB Vehicles,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,COB Street Paving,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,COB Contractor Sewage,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,EBMUD Pumping,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,PG&E Trans-Distrib Loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,PG&E SmartMeter,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,ATT Transformer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Comcast Transformer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Residential,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Industrial,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Berkeley School District,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,USG,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,State of CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,CalTrans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Alameda County,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,BART stations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,BART stations,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,BART trains,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,BART parking lots,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,ACTransit,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,COB Public Works,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,COB Sewage Pumping,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Resident Transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Resident Work Transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Truck,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Car,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Church,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Scnool,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Food,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Ag,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Retail,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Water Heater,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
is2018=engwater['Year'] == 2018.0
is2018.head(10)

0     True
1     True
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: Year, dtype: bool

In [71]:
engwater.loc[is2018]

,Entity Name,MMBTUYear,KWh,Gas,Total WaterMG,WW,WaterCool,Year
0,UCBerkeley,471282.0,NaN,NaN,NaN,NaN,NaN,2018.0
1,LBNL Base,NaN,NaN,NaN,40.0,NaN,NaN,2018.0
5,LBNL Base Electric,NaN,250000.0,NaN,NaN,NaN,NaN,2018.0
10,LBNL Total,730000.0,NaN,NaN,64.7,NaN,NaN,2018.0
14,LBNL Electric,NaN,154000.0,NaN,NaN,NaN,NaN,2018.0

In [76]:
engwater[engwater['Year'] == 2019]

,Entity Name,MMBTUYear,KWh,Gas,Total WaterMG,WW,WaterCool,Year
2,LBNL Base,NaN,NaN,NaN,40.0,NaN,NaN,2019.0
6,LBNL Base Electric MMBTU,NaN,73324.3,NaN,NaN,NaN,NaN,2019.0
11,LBNL Total,740000.0,NaN,NaN,67.0,NaN,NaN,2019.0
15,LBNL Electric,NaN,156000.0,NaN,NaN,NaN,NaN,2019.0